<div class="col mb-5 ">
  <div class="card mb-3 h-100">
    <img src="{{ product.image }}" class="card-img-top"/>
    <div class="card-body p-4">
      <div class="text-center">
        <span class="card-text"> {{ product.category | titlecase }}</span>
        <h5 class="fw-bolder">
          {{ product.name }}
        </h5>
      </div>
      <hr>
      <span class="card-text">Preço: {{ product.price | currency: 'BRL' }}</span>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary me-2">Comprar</button>
      <button class="btn btn-success" (click)="sendToCart(product)">
        <img src="../../../../assets/icons/cart-plus.svg" class="img" />
      </button>
    </div>
  </div>
</div>
