<div class="col">
  <div class="card mb-3">
    <img
      src="https://images.kabum.com.br/produtos/fotos/128026/placa-de-video-asus-nvidia-geforce-rtx-3090-24gb-gddr6x-rog-strix-rtx3090-o24g-gaming-_1600265233_g.jpg"
      alt=""
      class="card-img-top"
    />
    <div class="card-body">
      <h3 class="card-title">
        {{ product.name }}
      </h3>
      <span class="card-text">{{ product.price | currency }}</span>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary me-2">Purchase</button>
      <button class="btn btn-success me-2">Add To Cart</button>
    </div>
  </div>
</div>
