<div class="container mt-3">
  <button class="btn btn-success" routerLink="new">Novo Produto</button>
  <div class="row mt-3">
    <div class="col">
      <ul class="list-group shadow">
        <li
          style="cursor: pointer"
          *ngFor="let product of products"
          class="list-group-item"
          routerLink="edit/{{ product.id }}"
        >
          <h6>{{ product.name }}</h6>
          {{ product.price | currency: 'BRL' }} | {{ product.category | titlecase }}
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 *ngIf="!outlet.isActivated" class="ms-2">Selecione um produto!</h2>
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
