<div class="container">
  <div class="btn-group mt-2">
    <button
      class="btn btn-success me-2"
      [disabled]="productsInCart.length == 0"
      (click)="onFinishOrder()"
    >
      Finalizar Pedido
    </button>
    <button class="btn btn-primary me-2" routerLink="products">
      Continuar Comprando
    </button>
    <button class="btn btn-danger me-2" (click)="onClearCart()">
      Esvaziar Carrinho
    </button>
  </div>
  <div class="row">
    <h2 *ngIf="productsInCart.length == 0" class="mt-5">
      Não há produtos no carrinho!
    </h2>
    <div class="col">
      <table class="table" *ngIf="productsInCart.length > 0">
        <thead>
          <tr>
            <th>Qnt.</th>
            <th>Produto</th>
            <th>Valor Un.</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsInCart">
            <td> {{ product.quantity }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency: "BRL" }}</td>
            <td>
              <button
                class="btn btn-danger me-1"
                (click)="onRemoveFromCart(product.id)"
              >
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="productsInCart.length > 0" class="row">
      <div class="col">
        <h3>Resumo do Pedido:</h3>
        <hr />
        Valor Total: {{ grandTotal | currency: "BRL" }}
      </div>
    </div>
  </div>
</div>
