<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F52C56;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:#fff; font-weight:bold;">MarketEasy Test Store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active" style="color:#fff"
            >Produtos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orders" routerLinkActive="active"  style="color:#fff"
            >Meus Pedidos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="manage"
            routerLink="admin"
            routerLinkActive="active"
            style="color:#fff"
            >Administração</a
          >
        </li>
      </ul>
      <form class="d-flex me-5">
        <button
          class="btn"
          type="button"
          style="background-color:#fff"
          (click)="onToCart()"
        >
          <img src="../../assets/icons/cart-fill.svg" />
          Carrinho
          <span class="badge bg-dark text-white ms-1 rounded-pill">{{
            prodsInCartCount
          }}</span>
        </button>
      </form>
    </div>
  </div>
</nav>
<app-alerts></app-alerts>
